@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  nb-card {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  nb-card-body {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .picture {
    background-image: url("assets/images/gather.jpg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: nb-theme(card-border-radius);
    border-top-right-radius: nb-theme(card-border-radius);
    flex: 1;
    position: relative;
  }

  .details {
    padding: 1.25rem 1.25rem 0;

    .title {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      font-size: 1.5rem;
      margin-bottom: 1rem;

      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(font-weight-bolder);
      }
    }

    .description {
      text-align: justify;
      color: nb-theme(color-fg-text);
      font-weight: nb-theme(font-weight-light);

      overflow: hidden;
      text-overflow: ellipsis;
      max-height: calc(1rem * 8 * #{nb-theme(line-height)});
    }
  }

  nb-card-footer {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
    border: none;

    a {
      text-decoration: none;
      color: nb-theme(color-fg);

      &:hover {
        color: nb-theme(color-fg-heading);
      }

      i {
        font-size: 1.75rem;
      }
    }
  }

  /* borders  */ 

  .border-default {
    border: 2px solid transparent;
    border-image: url("assets/images/border-1-default.svg") ;
    border-image-slice: 20;
    border-image-repeat: stretch;
    border-image-outset: 1;
    border-image-width: 5;
  }

  .border-primary {
    border: 5px solid;
    border-image: url("assets/images/border-primary.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }

  .border-warning {
    border: 5px solid;
    border-image: url("assets/images/border-warning.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }

  .border-success {
    border: 5px solid;
    border-image: url("assets/images/border-success.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }

  .border-info {
    border: 5px solid;
    border-image: url("assets/images/border-info.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }

  .border-danger {
    border: 5px solid;
    border-image: url("assets/images/border-danger.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }


  @include media-breakpoint-down(md) {
  }
  @include media-breakpoint-down(sm) {
  }
  @include media-breakpoint-down(is) {
  }
}
